/* Basic reset for styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    
}

h1{
    text-align: center;
}
button{
    display: block;
    margin: 0 auto;
}
.data-form {
    max-width: 284px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
}

select,
input,
textarea {
    width: 250px;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}



table{
    
    margin: 0 auto;
}



.user form{
text-align: center;
}